flow3
[{"id":"b54baa1c.8cee18","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"4500890c.f3afd8","type":"inject","z":"b54baa1c.8cee18","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":140,"wires":[["c9ae0b87.271b38"]]},{"id":"c9ae0b87.271b38","type":"function","z":"b54baa1c.8cee18","name":"","func":"msg.headers={deviceKey:\"GRbofw0ukJKQQ7ad\"};\nmsg.payload=\"Temperature,,25\"\nmsg.payload=\"Humidity,,100\"\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":160,"wires":[["416a0389.7cc5fc"]]},{"id":"416a0389.7cc5fc","type":"http request","z":"b54baa1c.8cee18","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/DHEEBbIZ/datapoints.csv","tls":"","proxy":"","authType":"","x":760,"y":180,"wires":[["13f9a5d9.f3482a","10222606.f9e42a"]]},{"id":"13f9a5d9.f3482a","type":"http response","z":"b54baa1c.8cee18","name":"","statusCode":"","headers":{},"x":940,"y":200,"wires":[]},{"id":"10222606.f9e42a","type":"debug","z":"b54baa1c.8cee18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":960,"y":140,"wires":[]}]
