flow4
[{"id":"a1ec0d98.2d83a","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"66086595.38132c","type":"debug","z":"a1ec0d98.2d83a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":380,"wires":[]},{"id":"e2e03e21.ca427","type":"http in","z":"a1ec0d98.2d83a","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":100,"y":380,"wires":[["3550d4de.59accc"]]},{"id":"3550d4de.59accc","type":"random","z":"a1ec0d98.2d83a","name":"","low":"1","high":"10","inte":"true","property":"payload","x":320,"y":380,"wires":[["66086595.38132c","dc411f3b.9b38"]]},{"id":"dc411f3b.9b38","type":"http response","z":"a1ec0d98.2d83a","name":"","statusCode":"","headers":{},"x":580,"y":480,"wires":[]}]
