flow2
[{"id":"81a47046.4353d","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"843f8e38.2e035","type":"inject","z":"81a47046.4353d","name":"t","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":240,"wires":[["12cf4b84.b37b54"]]},{"id":"12cf4b84.b37b54","type":"function","z":"81a47046.4353d","name":"","func":"msg.headers={deviceKey:\"GRbofw0ukJKQQ7ad\"};\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":260,"wires":[["a394cafe.b3e4d8","b98fcca9.a8f43"]]},{"id":"a394cafe.b3e4d8","type":"http request","z":"81a47046.4353d","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/DHEEBbIZ/datachannels/Temperature/datapoints.csv","tls":"","proxy":"","authType":"","x":620,"y":280,"wires":[["f1d6e7d3.c508f8","e62c366d.509558"]]},{"id":"e62c366d.509558","type":"http response","z":"81a47046.4353d","name":"","statusCode":"","headers":{},"x":840,"y":300,"wires":[]},{"id":"f1d6e7d3.c508f8","type":"debug","z":"81a47046.4353d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":840,"y":220,"wires":[]},{"id":"b98fcca9.a8f43","type":"http request","z":"81a47046.4353d","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/DHEEBbIZ/datachannels/Humidity/datapoints.csv","tls":"","proxy":"","authType":"","x":620,"y":380,"wires":[["a4f50de.a7c77f","4f2faa49.8153e4"]]},{"id":"4f2faa49.8153e4","type":"http response","z":"81a47046.4353d","name":"","statusCode":"","headers":{},"x":820,"y":460,"wires":[]},{"id":"a4f50de.a7c77f","type":"debug","z":"81a47046.4353d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":820,"y":400,"wires":[]}]
