flow10
[{"id":"23dbfbe9.8064a4","type":"tab","label":"Flow 11","disabled":false,"info":""},{"id":"7154a61b.890758","type":"inject","z":"23dbfbe9.8064a4","name":"","topic":"","payload":",,25.5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":200,"wires":[["17b6b99e.a81086"]]},{"id":"68241c24.1f32e4","type":"inject","z":"23dbfbe9.8064a4","name":"","topic":"","payload":",,24.5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":280,"wires":[["17b6b99e.a81086"]]},{"id":"17b6b99e.a81086","type":"mqtt out","z":"23dbfbe9.8064a4","name":"","topic":"mcs/DHEEBbIZ/GRbofw0ukJKQQ7ad/Temperature","qos":"2","retain":"","broker":"d36fb731.fc1af8","x":520,"y":240,"wires":[]},{"id":"e22c8d46.9469e","type":"inject","z":"23dbfbe9.8064a4","name":"","topic":"","payload":",,5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":400,"wires":[["9e2292fe.6ee5e"]]},{"id":"308eb13.883ee4e","type":"inject","z":"23dbfbe9.8064a4","name":"","topic":"","payload":",,8","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":480,"wires":[["9e2292fe.6ee5e"]]},{"id":"9e2292fe.6ee5e","type":"mqtt out","z":"23dbfbe9.8064a4","name":"","topic":"mcs/DHEEBbIZ/GRbofw0ukJKQQ7ad/Humidity","qos":"2","retain":"","broker":"d36fb731.fc1af8","x":510,"y":440,"wires":[]},{"id":"d36fb731.fc1af8","type":"mqtt-broker","z":"","name":"MCS Cloud","broker":"mqtt.mcs.mediatek.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
