flow4
[{"id":"e3ea784c.22e828","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"e2fcd455.4b9e28","type":"debug","z":"e3ea784c.22e828","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":180,"wires":[]},{"id":"23f1f846.aab7d8","type":"http in","z":"e3ea784c.22e828","name":"","url":"/GPIO","method":"get","upload":false,"swaggerDoc":"","x":120,"y":180,"wires":[["c792391b.fd4018"]]},{"id":"69818d51.b00204","type":"http response","z":"e3ea784c.22e828","name":"","statusCode":"","headers":{},"x":600,"y":280,"wires":[]},{"id":"c792391b.fd4018","type":"function","z":"e3ea784c.22e828","name":"get","func":"msg.payload=global.get(\"GPIO\")\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":200,"wires":[["69818d51.b00204"]]},{"id":"aebb5001.a2ab9","type":"function","z":"e3ea784c.22e828","name":"set","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":340,"wires":[["e2fcd455.4b9e28","69818d51.b00204"]]},{"id":"2621849e.eb90ec","type":"rpi-gpio in","z":"e3ea784c.22e828","name":"","pin":"7","intype":"tri","debounce":"25","read":false,"x":100,"y":340,"wires":[["aebb5001.a2ab9"]]}]
