flow5
[{"id":"9834c005.40624","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"a945924c.cd09b","type":"http in","z":"9834c005.40624","name":"","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":110,"y":220,"wires":[["3209d62a.69670a","85c08c46.f3ea9"]]},{"id":"3209d62a.69670a","type":"function","z":"9834c005.40624","name":"high","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":220,"wires":[["380a5702.33d0b8"]]},{"id":"380a5702.33d0b8","type":"rpi-gpio out","z":"9834c005.40624","name":"29","pin":"29","set":"","level":"0","freq":"","out":"out","x":530,"y":160,"wires":[]},{"id":"85c08c46.f3ea9","type":"function","z":"9834c005.40624","name":"message  high","func":"msg.payload=\"set high\"\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":420,"wires":[["1ae8d68a.f52e99","360da3f1.0f7edc"]]},{"id":"1ae8d68a.f52e99","type":"http response","z":"9834c005.40624","name":"","statusCode":"","headers":{},"x":610,"y":380,"wires":[]},{"id":"360da3f1.0f7edc","type":"debug","z":"9834c005.40624","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":540,"wires":[]},{"id":"16aee84f.e2bd68","type":"http in","z":"9834c005.40624","name":"","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":110,"y":100,"wires":[["ced22961.516d28","e7c45819.40c2e8"]]},{"id":"ced22961.516d28","type":"function","z":"9834c005.40624","name":"low","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":100,"wires":[["380a5702.33d0b8"]]},{"id":"e7c45819.40c2e8","type":"function","z":"9834c005.40624","name":"message low","func":"msg.payload=\"set low\"\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":360,"wires":[["1ae8d68a.f52e99","360da3f1.0f7edc"]]}]
