flow1
[{"id":"8ab60c71.c36b8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1039c4c7.41eaeb","type":"rpi-gpio in","z":"8ab60c71.c36b8","name":"Button","pin":"11","intype":"up","debounce":"25","read":false,"x":120,"y":200,"wires":[["4632df37.0af91","3427faa5.88f176"]]},{"id":"f5e93635.3c2638","type":"rpi-gpio out","z":"8ab60c71.c36b8","name":"","pin":"7","set":"","level":"0","freq":"","out":"out","x":660,"y":220,"wires":[]},{"id":"3427faa5.88f176","type":"debug","z":"8ab60c71.c36b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":440,"y":140,"wires":[]},{"id":"4632df37.0af91","type":"switch","z":"8ab60c71.c36b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"lt","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":260,"wires":[["d5860a38.07fb88"],["b4bae2f6.aa2a6"]]},{"id":"b4bae2f6.aa2a6","type":"change","z":"8ab60c71.c36b8","name":"input<1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":320,"wires":[["f5e93635.3c2638"]]},{"id":"d5860a38.07fb88","type":"change","z":"8ab60c71.c36b8","name":"input=1","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":260,"wires":[["f5e93635.3c2638"]]}]
